*{
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

.title {
  font-size: 35px;
  margin-top: 10px;
}

body {
  margin-left: 15px;
  padding: 1vh;
  color: black;
  background-color: 	#fff4d1;
}

/* Define the style for all buttons */
button {
    border: none; /* remove the default border */
    border-radius: 10px; /* add rounded corners */
    color: #fff; /* set text color to white */
    cursor: pointer; /* change cursor to pointer on hover */
    font-size: 16px; /* set font size */
    padding: 10px 20px; /* add padding around text */
  }
  /* Define the style for red buttons */
  button.red {
    background-color: #f44336; /* set background color to red */
  }
  /* Define the style for red buttons on hover */
  button.red:hover {
    background-color: #d32f2f; /* set darker background color on hover */
  }
  /* Define the style for red buttons when active/pressed */
  button.red:active {
    background-color: #b71c1c; /* set even darker background color when active/pressed */
  }
[contenteditable]:hover {
    background-color: #f1f1f1;
    
  }
#addContainer {
    display: flex;
    flex-direction: column;
  }

#banner {
  /* The image used */
  height: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-image:
  url('https://source.unsplash.com/1600x900/?city');
  background-position:right
}
ul {
  margin-left: 15px;
  padding: 1vh;
}
  
  