<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Travel Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <h1 class="title">Travel Planner</h1>
  <br>
  <label>First and Last Name</label>
  <br>
  <input type="text" id="name">
  <br>
  <label>State Abbreviation</label>
  <br>
  <input type="text" id="state">
  <br>
  <button id="search">Add</button>

  <h1 class="itinerary">Itinerary</h1>


  <button id="flights" class ="red">Flights</button>

  <button id="flights" class ="red">yes</button>

  <p id="display"></p>

  <script src="/static/index.js"></script>
</body>
</html>