<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Travel Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <h1 class="title"><center>Travel Planner</center></h1>
  <br>
  <h1 contentEditable="true">Trip to ...</h1>
  
  <h1 class="overview">Overview</h1>

  

  <button id="add" class="red">Add</button>
  <br>
  <h1 class="itinerary">Itinerary</h1>
  <br>
  <button id="flights"class ="red">Flights</button>
  <br>
  <button id="flights" class ="red">yes</button>

  <p id="display"></p>

  <script src="/static/index.js"></script>
</body>
</html>