
{% if body_content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
{{body_content|safe}}
</html>
{% else %}
{% extends "base.html" %} {% block content%}
<body>
  <div id="banner">
    <h1 class="title"><center>Travel Planner</center></h1>
    <button type="submit" id="Save" >Save</button>
  </div>
    <h1 contentEditable="true" id="trip">Trip to ...</h1>
    <br>
    <h1 id="overview">Overview</h1>
    <button id="add" class="red">Add</button>
    <div id="bulletpoints">
      <ul id="overviewList">
        <li contentEditable="true">New Item</li>
      </ul>
    </div>
    <br>
    <h1 id="itinerary">Itinerary</h1>
    <textarea rows="10" cols="50">enter text here</textarea>
    <br>
    <h1 id="flights">Flights</h1>

    <br>
    <div id="addContainer"></div>
    <button id="addSection" class="red">Add Section</button>
  </body>
  {% endblock %}
  {% endif %}
